<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="simpleSecurity" type="Ucsb.Sa.Enterprise.AspNet.WebApi.SimpleSecurity.Configuration.SimpleSecurityConfigurationSection, Ucsb.Sa.Enterprise.AspNet.WebApi.SimpleSecurity" />
	</configSections>

	<appSettings>
		<add key="applicationName" value="Ucsb.Sa.Enterprise.AspNet.WebAPi.SimpleSecurity.Tests" />
		<add key="environment" value="local" />
	</appSettings>

	<connectionStrings>
		<add name="SimpleSecurity" connectionString="Initial Catalog=SimpleSecurity;Data Source=localhost;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<simpleSecurity connectionStringName="SimpleSecurity">
		<!--<database AccessTable="Test" AccessTableLog="LogTest" />-->
	</simpleSecurity>
</configuration>